<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Opus Demo Final.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>884537C71EE926B2003A9064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>884537E01EE926B3003A9064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>884537EB1EE926B3003A9064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
